.contentWrap {
    background-color: #1E1E1E;
    width: 100%;
    position: relative;
}


.bloco5Background {
    width: 28rem;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    margin: auto;
    padding-top: 5rem;

}

.bloco5Background2 {
    background-color: #1E1E1E;
    z-index: 9;
    width: 100%;
    position: relative;

}
.headText {
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.1rem;
    color: #55A9BE;
    font-family: MonumentExtended;
    align-self: center;
    margin: auto;
    margin-bottom: 3rem;
    text-align: left;
}

.bodyText {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color: #DADADA;
    margin-bottom: 3rem;

}

.underline {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color: #DADADA;
    text-decoration: underline;
    text-decoration-color: gray;
    font-weight: 600;
}

.primeiroFilme {
    z-index: 8;
    background:#1E1E1E;
    position: relative;
}

.segundoFilme {
    z-index: 7;
    background:#1E1E1E;
    position: relative;
}

.terceiroFilme {
    z-index: 6;
    background:#1E1E1E;
    position: relative;
}

.quartoFilme {
    z-index: 5;
    background:#1E1E1E;
    position: relative;
}

.quintoFilme {
    z-index: 4;
    background:#1E1E1E;
    position: relative;
}

.sextoFilme {
    z-index: 3;
    background:#1E1E1E;
    position: relative;
}

@media only screen and (min-width: 770px) {
    .bloco5Background {
        width: 77rem;

    }

    .headText {
        font-size: 2.8rem;
        line-height: 3.6rem;
        text-align: left;
        margin-left: 0;
        padding-right: 30rem;
    }

    .bodyText {
        font-size: 2rem;
        line-height: 2.8rem;
        padding-right: 17rem;
    }

    .FilmesWrap {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        width: 77rem;
        margin: auto;
        overflow: hidden;
        column-gap: 2rem;
    }

    .primeiroFilme, .segundoFilme, .terceiroFilme, .quartoFilme, .quintoFilme, .sextoFilme {
        width: 48%;
        overflow: hidden;
    }


}