.background {
    width: 100%;
    background: #484848;
}

.contentWrap {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 0.5rem;
}

.text {
    font-size: 0.6rem;
    font-weight: 400;
    color: #BFBFBF;
    letter-spacing: 0.05rem;
    text-align: center;
    margin: 0rem auto;
    padding-top: 0.2rem;
}

.text2 {
    font-size: 0.6rem;
    font-weight: 400;
    color: #BFBFBF;
    letter-spacing: 0.05rem;
    text-align: center;
    margin: -0.2rem auto;
}