.questionWrap {
    background: linear-gradient(93.15deg, rgba(250, 250, 250, 0.16) 3.79%, rgba(196, 196, 196, 0) 96.68%);
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #eab25ec7;
    padding: 1.3rem 4rem 1.3rem 1.5rem;
    margin: auto;
    width: 29.5rem;
    margin-bottom: -0.1rem;

    

}

.question {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: auto;
}

.answerBackground {
    background: linear-gradient(93.15deg, rgba(250, 250, 250, 0.16) 3.79%, rgba(196, 196, 196, 0) 96.68%);
    padding: 1.3rem 4rem 2.7rem 1.5rem;
    width: 29.5rem;
    margin-bottom: 0rem;
    display: none;
}

.answer {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #E5E5E5;
    /* display: none; */
}

@keyframes slideDown {
    0% {
        height: 0rem;
    }
}

.show {
    display: block;
}