.heroBackground4 {
    position: relative;
}

.heroBackground:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:url('/images/ROC/bookcase.jpg'), linear-gradient(261.46deg, rgba(0, 0, 0, 0) 0%, rgba(26, 25, 25, 0.8) 5.15%);
    background-size:150% 100%;
    background-repeat: no-repeat;
    background-position-x: -4rem;
    background-position-y: 0rem;
    background-blend-mode: luminosity;
    opacity: 0.1;
}

.heroBackground3 {
    width: 100%;
    background: url('/images/ROC/ROC-BG-OVER.png');
    background-repeat: no-repeat;
    background-size: auto 120%;
}

/* .heroBackground2 {
    background-image:linear-gradient(261.46deg, rgba(0, 0, 0, 0) 0%, rgba(26, 25, 25, 0.8) 5.15%);
} */


.heroWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28rem;
    margin: auto;
    padding-bottom: 1rem;
    position: relative;

}

.heroSpacer {
    width: 100%;
    height: 10rem;
}

.logo {
    width: 75%;
    /* height: 4rem; */
    margin-bottom: 3rem;
}

.heroHeadline {
    font-size: 1.52rem;
    line-height: 1.9rem;
    letter-spacing: 0.21rem;
    text-align: left;
    font-family: MonumentExtended;
    margin-bottom: 2rem;
    font-weight: 400;
    display: block;
}

.goldGradient {
    color: transparent;   
    background-image: linear-gradient(93.87deg, #EAB25E -3.33%, #F4E2C7 40.78%, #EAB25E 83.23%);
    background-clip: text;
}

/* .iphoneGlitch {
    margin: 0;
    padding: 0;
    display: contents;
} */

.firstParagraph {
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 4rem;
    padding-right: 5rem;
    line-height: 2rem;

}



.blockText {
    font-size: 1.6rem;
    font-family: MonumentExtended;
    letter-spacing: 0.21rem;
    background-color: #396F77;
    margin: 0.2rem auto;
    /* border-style: none;
    box-shadow: 0rem 0.5rem 0 0 #1E1E1E inset ; */  
}

.break {
    display: inline-block;
    margin-top: 0.5rem;
}

.heroTextSpacer {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.strong {
    font-weight: 600;
}

.decorationSymbol {
    width: 5.2rem;
    height: 5.2rem;
    align-self: center;
    margin-top: 4rem;
    margin-bottom: -3.6rem;
}

@media only screen and (min-width: 770px) {
    .heroWrap {
      width: 77rem;
      align-items: flex-start;
    }

    .logo {
        align-self: center;
        justify-self: center;
        margin-bottom: 5rem;
        margin-right: 0rem;
        margin-left: 33rem;
    }

    .heroHeadline {
        font-size: 2.8rem;
        line-height: 3.4rem;
        padding-right: 17.8rem;
        text-align: left;

    }

    .goldGradient {
        padding-right: 0;
    }

    .firstParagraph {
        padding-right: 20.8rem;
        font-size: 2.2rem;
        margin: 1rem auto;
        line-height: 2.4rem;
        margin-bottom: 4rem;
    }

    .blockText {
        font-size:2.6rem ;
        margin: 1rem auto;
    }



  }